@model HacForo.Models.DTOs.ThreadDTO
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Html.DisplayFor(model => model.Title)</h2>
<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="well unFloat" style="padding-bottom: 40px">
                    <div class="col-sm-10 unFloat" >
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="col-sm-2 unFloat">
                        <img src="@Html.DisplayFor(model => model.ImageLink)"  class="listIcon"/>
                    </div>
                </div>
                <div class="well">
                    <h3>@Html.DisplayFor(model => model.Points) Points</h3>
                    @if (Request.IsAuthenticated && Model.UserCanPoint)
                    {
                        <div>
                            @Html.ActionLink("1", "Points", "Thread", new { points = 1, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("2", "Points", "Thread", new { points = 2, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("3", "Points", "Thread", new { points = 3, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("4", "Points", "Thread", new { points = 4, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("5", "Points", "Thread", new { points = 5, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("6", "Points", "Thread", new { points = 6, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("7", "Points", "Thread", new { points = 7, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("8", "Points", "Thread", new { points = 8, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("9", "Points", "Thread", new { points = 9, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("10", "Points", "Thread", new { points = 10, threadId = Model.Id }, new { @class = "btn btn-primary" })
                        </div>
                    }
                </div>
                <div class="well">
                    <div class="limitSpace">
                        <h3>Comments</h3>
                        <div class="unFloat">
                            @foreach (var comment in Model.Comments)
                            {
                                @Html.Partial("~/Views/Comment/Details.cshtml", comment)
                            }
                        </div>
                        <div class="unFloat">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("Create", "Comment", FormMethod.Post))
                                {
                                    @Html.Partial("~/Views/Comment/Create.cshtml", new HacForo.Models.DTOs.CommentDTO() { ThreadId = Model.Id })
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 well">
                <img src="@Html.DisplayFor(model => model.User.ProfilePictureLink)" class="limitSpace"  />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.User.UserName)
                    </dt>
                    <dd>
                        @Html.ActionLink((string)Model.User.UserName, "Details", "User", new { id = Model.User.Id }, null)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<br />

<p>
    @if (Request.IsAuthenticated && (User as HacForo.Common.MyPrincipal).User.Id == Model.User.Id)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    }
</p>

<script src="~/scripts/tinymce/tinymce.min.js"></script>
<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
    // Initialize your tinyMCE Editor with your preferred options
    tinymce.init({
        selector: 'textarea',
        height: 100,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
    });
</script>
