@model HacForo.Models.DTOs.ThreadDTO
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Html.DisplayFor(model => model.Title)</h2>
<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-10">
                    @Html.Raw(Model.Description)
                    <hr />
                    @if (Request.IsAuthenticated && Model.UserCanPoint)
                    {
                        <div>
                            @Html.ActionLink("1", "Points", "Thread", new { points = 1, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("2", "Points", "Thread", new { points = 2, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("3", "Points", "Thread", new { points = 3, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("4", "Points", "Thread", new { points = 4, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("5", "Points", "Thread", new { points = 5, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("6", "Points", "Thread", new { points = 6, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("7", "Points", "Thread", new { points = 7, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("8", "Points", "Thread", new { points = 8, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("9", "Points", "Thread", new { points = 9, threadId = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("10", "Points", "Thread", new { points = 10, threadId = Model.Id }, new { @class = "btn btn-primary" })
                        </div>
                    }
                </div>
                <div class="col-sm-2">
                    <img src="@Html.DisplayFor(model => model.ImageLink)" />
                </div>
            </div>
            <div class="col-sm-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => Model.User.UserName)
                    </dt>
                    <dd>
                        @Html.ActionLink((string)Model.User.UserName, "Details", "User", new { id = Model.User.Id }, null)                        
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Points)
                    </dt>
                    <dd>
                        <strong>@Html.DisplayFor(model => model.Points)</strong>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<br />
<p>
    @if (Request.IsAuthenticated && (User as HacForo.Common.MyPrincipal).User.Id == Model.User.Id)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index", "Home", null, null)
</p>
