@model HacForo.Models.DTOs.ThreadDTO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Thread", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Registeration Failed, fields.");
    <div>
        <fieldset>
            <legend>Edit Thread</legend>
            <div class="editor-label">Title</div>
            <div class="editor-field">
                @Html.TextBoxFor(t => t.Title)
            </div>
            <div class="editor-label">Picture</div>
            <div class="editor-field">
                @Html.TextBoxFor(t => t.ImageLink)
            </div>
            <div class="editor-label">Description</div>
            <div class="editor-field">
                @Html.TextAreaFor(t => t.Description)
            </div>
            <input type="submit" name="Edit" value="Update" class="btn btn-default" />   
            @Html.ActionLink("Delete", "Delete", "Thread", new { id = Model.Id }, new { @class = "btn btn-warning", onclick = "return confirm('Are you sure?'"})
        </fieldset>
    </div>
}

<script src="~/scripts/tinymce/tinymce.min.js"></script>
<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
    tinymce.init({
        selector: 'textarea',
        height: 500,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
    });
</script>