<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:25px;">
    <div style="width:auto;" class="text-right">        
        @if (Request.IsAuthenticated)
        {
            <strong>@Html.ActionLink((string)(User as HacForo.Common.MyPrincipal).User.UserName, "Details", "User", new { id = (User as HacForo.Common.MyPrincipal).User.Id }, null)</strong>
            @Html.ActionLink("Log Out", "Logout", "User")
        }
        else
        {
            @Html.ActionLink("Register", "Register", "User")
            <span> | </span>
            @Html.ActionLink("Log In", "Login", "User")
        }
    </div>

    @RenderBody()    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
